/***************
 *    RESET    *
 ***************/
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, em, img, strong, b, u, i, ol, ul, li, form, label, table, caption,
tbody, tfoot, thead, tr, th, td, aside, blockquote, figure, figcaption, footer, header, nav, section, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    box-sizing: border-box;
}

article, aside, details, blockquote, figcaption, figure, footer, header, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/***************
 *    FONTS    *
 ***************/
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: local('Roboto'), local('Roboto'), url("../fonts/Roboto/Roboto-Thin.ttf") format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto'), local('Roboto'), url("../fonts/Roboto/Roboto-Light.ttf") format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto'), url("../fonts/Roboto/Roboto-Regular.ttf") format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto'), local('Roboto'), url("../fonts/Roboto/Roboto-Medium.ttf") format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto'), local('Roboto'), url("../fonts/Roboto/Roboto-Bold.ttf") format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: local('Roboto'), local('Roboto'), url("../fonts/Roboto/Roboto-Black.ttf") format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans'), local('Open-Sans'), url("../fonts/Open-Sans/OpenSans-Light.ttf") format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('Open-Sans'), url("../fonts/Open-Sans/OpenSans-Regular.ttf") format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans'), local('Open-Sans'), url("../fonts/Open-Sans/OpenSans-SemiBold.ttf") format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans'), local('Open-Sans'), url("../fonts/Open-Sans/OpenSans-Bold.ttf") format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 900;
    src: local('Open Sans'), local('Open-Sans'), url("../fonts/Open-Sans/OpenSans-ExtraBold.ttf") format('truetype');
}

/***************
 *    BASIC    *
 ***************/
html {
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-family: 'Open Sans', 'Roboto', sans-serif;
}

.clearfix {
    clear: both;
}

.overflow-hidden {
    overflow: hidden;
}

.capa {
    height: 100vh;
    position: relative;
    background-color: rgb(0, 29, 74);
}

.capa .background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url("../images/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .2;
}

.capa .titulo {
    font-size: 8rem;
    color: #dca75f;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    display: inline-block;
    padding: 0;
    z-index: 5;
    position: absolute;
    top: 10%;
    left: 10%;
}

.capa .arrow-down {
    position: absolute;
    bottom: 3rem;
    left: -webkit-calc(50% - 10rem);
    left: calc(50% - 10rem);
    width: 20rem;
    text-align: center;
    text-decoration: none;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.capa .arrow-down span {
    color: #fff;
    display: block;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: -.6rem;
    font-size: 2rem;
    text-align: center;
}

.capa .arrow-down i {
    font-size: 6rem;
    color: #fff;
}

.ancoras {
    background: #fff;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
}

.ancoras h1 {
    font-size: 6rem;
    text-align: center;
    padding: 3rem 0;
}

.ancora {
    width: 25%;
    height: 28em;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    display: none;
    float: left;
    padding: 2rem;
    border: 0;
    margin: 0;
    position: relative;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
}

.ancora .titulo {
    text-align: center;
    font-size: 2rem;
    margin-top: 1rem;
}

.ancora .image-container {
    overflow: hidden;
    width: 20em;
    height: 20em;
    position: relative;
    margin: 0 auto;
}

.ancora .image-container img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.ancora:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.ancora.professor,
.ancora.ensino,
.ancora.conhecimento-profissional,
.ancora.complexidade {
    color: #f86267;
}

.ancora a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
}

.ancora .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .7;
    border-radius: 50%;
}

.ancora.complexidade img,
.ancora.mudancas img,
.ancora.ensino img,
.ancora.conhecimento-profissional img {
    object-position: bottom;
}

#professor .overlay,
.professor .overlay {
    background-color: #003292;
}

#culto-aprendizagem .overlay,
.culto-aprendizagem .overlay {
    background-color: #92846a;
}

#ensino .overlay,
.ensino .overlay {
    background-color: #791f76;
}

#pensar .overlay,
.pensar .overlay {
    background-color: #157b52;
}

#conhecimento-profissional .overlay,
.conhecimento-profissional .overlay {
    background-color: #001d4a;
}

#mudancas .overlay,
.mudancas .overlay {
    background-color: #8e1414;
}

#complexidade .overlay,
.complexidade .overlay {
    background-color: #10393c;
}

#inovacao .overlay,
.inovacao .overlay {
    background-color: #4c371e;
}

.modal {
    display: none;
    position: fixed;
    z-index: 100;
    padding: 0;
    margin: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    overflow: hidden;
}

.back {
    position: absolute;
    left: 1em;
    top: -webkit-calc(50% - 3rem);
    top: calc(50% - 3rem);
    color: #aaaaaa;
    font-weight: lighter;

    text-align: center;
    z-index: 500;
    height: 6rem;
    width: 6rem;
    animation-name: floating-x;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

/*.back a{*/
/*}*/
.back i {
    font-size: 6rem;
    line-height: 6rem;
    height: 6rem;
    width: 6rem;
}

.back:hover,
.back:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#pensar blockquote span,
#ensino blockquote span,
#conhecimento-profissional blockquote span,
#mudancas blockquote span,
#complexidade blockquote span,
#inovacao blockquote span,
#professor blockquote span {
    color: #dca75f;
}

#culto-aprendizagem blockquote span {
    color: #001225;
}

#professor blockquote {
    background-color: rgba(0, 9, 28, 0.9);
}

#culto-aprendizagem blockquote {
    background-color: rgba(243, 160, 23, 0.9);
}

#ensino blockquote {
    background-color: rgba(47, 4, 40, 0.9);
}

#pensar blockquote {
    background-color: rgba(15, 54, 42, 0.9);
}

#conhecimento-profissional blockquote {
    background-color: rgba(27, 4, 115, 0.9);
}

#mudancas blockquote {
    background-color: rgba(201, 13, 24, 0.9);
}

#complexidade blockquote {
    background-color: rgba(25, 47, 72, 0.9);
}

#inovacao blockquote {
    background-color: rgba(90, 65, 18, 0.9);
}

blockquote {
    /*display: none;*/
    position: absolute;
    font-weight: 500;
    top: 18%;
    left: 16%;
    color: #fff;
    font-size: 2rem;
    line-height: 1.5;
    text-align: justify;
    padding: 3rem 10rem 10rem 4rem;
    width: 68rem;
    height: 42rem;
    z-index: 150;
    -webkit-box-shadow: 10px 10px 60px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 10px 10px 60px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 10px 10px 60px 0 rgba(0, 0, 0, 0.5);
}

blockquote span {
    font-weight: 700;
}

.modal .image-container {
    position: relative;
    float: right;
    overflow: hidden;
    width: 30%;
    margin-right: 6%;
}

.modal img {
    height: 100vh;
    width: 100%;
    padding: 0;
    border: 0;
    margin: 0;
    object-fit: cover;
}

.modal .modal-content .quadrado {
    position: absolute;
    top: 0;
    left: 0;
    width: 40em;
    height: 30em;
    background-color: #f2ebbf;
    border-bottom: 3em solid #f3b562;
    border-right: 3em solid #f3b562;
}

.modal .modal-content .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .7;
}

@keyframes floating {
    from {
        -webkit-transform: translate(0, 0px);
        transform: translate(0, 0px);
    }
    65% {
        -webkit-transform: translate(0, 15px);
        transform: translate(0, 15px);
    }
    to {
        -webkit-transform: translate(0, -0px);
        transform: translate(0, -0px);
    }
}

@keyframes floating-x {
    from {
        -webkit-transform: translate(0, 0px);
        transform: translate(0, 0px);
    }
    65% {
        -webkit-transform: translate(15px, 0);
        transform: translate(15px, 0);
    }
    to {
        -webkit-transform: translate(-0px, 0);
        transform: translate(-0px, 0);
    }
}

@-webkit-keyframes moveToLeft {
    from {
    }
    to {
        -webkit-transform: translateX(-100%);
    }
}

@keyframes moveToLeft {
    from {
    }
    to {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

@-webkit-keyframes moveFromLeft {
    from {
        -webkit-transform: translateX(-100%);
    }
}

@keyframes moveFromLeft {
    from {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

@-webkit-keyframes moveToRight {
    from {
    }
    to {
        -webkit-transform: translateX(100%);
    }
}

@keyframes moveToRight {
    from {
    }
    to {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
}

@-webkit-keyframes moveFromRight {
    from {
        -webkit-transform: translateX(100%);
    }
}

@keyframes moveFromRight {
    from {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
}

@-webkit-keyframes moveToTop {
    from {
    }
    to {
        -webkit-transform: translateY(-100%);
    }
}

@keyframes moveToTop {
    from {
    }
    to {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}

@-webkit-keyframes moveFromTop {
    from {
        -webkit-transform: translateY(-100%);
    }
}

@keyframes moveFromTop {
    from {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}

@-webkit-keyframes moveToBottom {
    from {
    }
    to {
        -webkit-transform: translateY(100%);
    }
}

@keyframes moveToBottom {
    from {
    }
    to {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
}

@-webkit-keyframes moveFromBottom {
    from {
        -webkit-transform: translateY(100%);
    }
}

@keyframes moveFromBottom {
    from {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
}

.page-moveToLeft {
    -webkit-animation: moveToLeft 1s ease both;
    animation: moveToLeft 1s ease both;
}

.page-moveFromLeft {
    -webkit-animation: moveFromLeft 1s ease both;
    animation: moveFromLeft 1s ease both;
}

.page-moveToRight {
    -webkit-animation: moveToRight 1s ease both;
    animation: moveToRight 1s ease both;
}

.page-moveFromRight {
    -webkit-animation: moveFromRight 1s ease both;
    animation: moveFromRight 1s ease both;
}

.page-moveToTop {
    -webkit-animation: moveToTop 1s ease both;
    animation: moveToTop 1s ease both;
}

.page-moveFromTop {
    -webkit-animation: moveFromTop 1s ease both;
    animation: moveFromTop 1s ease both;
}

.page-moveToBottom {
    -webkit-animation: moveToBottom 1s ease both;
    animation: moveToBottom 1s ease both;
}

.page-moveFromBottom {
    -webkit-animation: moveFromBottom 1s ease both;
    animation: moveFromBottom 1s ease both;
}

@media only screen and (max-width: 1600px) {
    blockquote {
        left: 9%;
        font-size: 1.8rem;
        padding: 2rem 7rem 3rem 3rem;
        width: 63rem;
        height: 38rem;
    }

    .modal .modal-content .quadrado {
        width: 32em;
        height: 25em;
        border-bottom: 2.4em solid #f3b562;
        border-right: 2.4em solid #f3b562;
    }

    .capa .titulo {
        font-size: 7rem;
    }

    .ancoras h1 {
        font-size: 4.6rem;
    }
}

@media only screen and (max-width: 1400px) {
    blockquote {
        font-size: 1.6rem;
        width: 53rem;
        height: 33rem;
    }

    .modal .modal-content .quadrado {
        width: 28em;
        height: 23em;
        border-bottom: 2em solid #f3b562;
        border-right: 2em solid #f3b562;
    }

    .capa .titulo {
        font-size: 6rem;
    }

    .ancoras h1 {
        font-size: 4rem;
    }

    .capa .arrow-down i {
        font-size: 5rem;
    }

    .capa .arrow-down span {
        font-size: 1.8rem;
    }

    .ancora .image-container {
        width: 16em;
        height: 16em;
    }
}

@media only screen and (max-width: 1200px) {
    blockquote {
        font-size: 1.4rem;
        width: 46rem;
        height: 31rem;
    }

    .modal .modal-content .quadrado {
        width: 22em;
        height: 18em;
    }

    .capa .titulo {
        font-size: 5rem;
    }

    .ancoras h1 {
        font-size: 4.2rem;
    }

    .ancora .image-container {
        width: 14em;
        height: 14em;
    }

    .back {
        left: 0em;
    }

    .back i {
        font-size: 4rem;
    }
}

@media only screen and (max-width: 1000px) {
    blockquote {
        font-size: 1.2rem;
        left: 7%;
        width: 38rem;
        height: 28rem;
        padding: 1.2rem 5rem 2rem 2rem;
    }

    .modal .modal-content .quadrado {
        width: 18em;
        height: 16em;
        border-bottom: 1.6em solid #f3b562;
        border-right: 1.6em solid #f3b562;
    }

    .modal .image-container {
        margin-right: 5%;
    }

    .capa .arrow-down i {
        font-size: 4rem;
    }

    .ancoras h1 {
        font-size: 3.8rem;
    }

    .ancora {
        width: 50%;
    }

    .ancora .image-container {
        width: 20em;
        height: 20em;
    }

    .back {
        left: -1.6em;;
    }
}

@media only screen and (max-width: 800px) {
    .modal-content {
        height: 100%;
    }

    blockquote {
        top: 0;
        left: 0;
        right: 0;
        height: 100%;
        background-color: inherit !important;
        padding: 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        margin: 6rem auto 0;
        width: 80%;
    }

    .modal .back {
        color: #e8e8e8;
    }

    .modal .modal-content .quadrado {
        display: none;
    }

    .modal .image-container {
        float: none;
        width: 100%;
        height: 100%;
    }

    .modal .image-container img {
        height: 100%;
    }

    .capa .image-container {
        float: none;
        width: 100%;
        height: 100%;
        margin-top: 0;
    }

    .capa .titulo {
        font-size: 4rem;
    }

    .capa .arrow-down i {
        font-size: 3rem;
    }

    .capa .arrow-down span {
        font-size: 1.6rem;
    }

    .ancoras h1 {
        font-size: 3.2rem;
        padding: 2rem 0;
    }

    .ancora .image-container {
        width: 16em;
        height: 16em;
    }

    .ancora .titulo {
        font-size: 1.6rem;
    }
}

@media only screen and (max-width: 600px) {
    .capa .titulo {
        font-size: 3rem;
    }

    .ancoras h1 {
        font-size: 2.6rem;
    }

    .ancora {
        height: 18em;
    }

    .ancora .image-container {
        width: 12em;
        height: 12em;
    }
}

@media only screen and (max-width: 500px) {
    .ancoras h1 {
        font-size: 2.4rem;
        padding: 2rem 0 1rem 0;
    }

    .ancora {
        height: 16em;
    }

    .ancora .image-container {
        width: 10em;
        height: 10em;
    }

    .ancora .titulo {
        font-size: 1.4rem;
    }
}

@media only screen and (max-width: 400px) {
    .ancora {
        height: 14em;
    }

    .ancora .image-container {
        width: 8em;
        height: 8em;
    }
}